{% extends 'tyb/base.html' %}

{% block title %}Current Month{% endblock %}

{% block main %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Budget on current month</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
        </div>

{#        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>#}

        <h2>Profits/Total: {{ profits_sum }}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Cash</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>Previous months.</td>
                    <td>{{ previous_sum }}</td>
                </tr>
                {% for profit in profits %}
                    <tr>
                        <td>{{ profit.date }}</td>
                        <td>{{ profit.description }}</td>
                        <td>{{ profit.cash }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Taxes/Total: {{ taxes_sum }}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Cash</th>
                </tr>
                </thead>
                <tbody>
                {% for tax in taxes%}
                    <tr>
                        <td>{{ tax.date }}</td>
                        <td>{{ tax.description }}</td>
                        <td>{{ tax.cash }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Buys/Total: {{ buys_sum }}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Cash</th>
                    <th>Budget for day</th>
                    <th>Balance</th>
                </tr>
                </thead>
                <tbody>
                {% for buy in buys %}
                    <tr>
                        <td>{{ buy.date }}</td>
                        <td>
                            {% for t in buy.transactions %}
                                {{ t.description }} <b>{{ t.cash }}</b>
                                <br>
                            {% endfor %}
                        </td>
                        <td>{{ buy.transactions_sum }}</td>
                        <td>{{ buy.budget_for_day }}</td>
                        <td>{{ buy.balance_for_day }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}