{% extends 'trym/base.html' %}

{% load static %}

{% block mysite_base_title %}
  Текущий месяц
{% endblock %}

{% block trym_base_stile %}
  <link href="{% static 'trym/home.css' %}" rel="stylesheet">
{% endblock %}

{% block trym_base_content %}
  {% if user.is_aunteficated %}
  <div id="starting">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">
        Бюджет на текущий месяц
        <button  type="button" 
                 class="btn btn-primary" 
                 data-toggle="modal" 
                 data-target="#addTransactionModal">Добавить запись</button>
      </h1>
    </div>
    <form v-on:submit.prevent="getTable()">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="from_date">С</label>
        <div class="col-sm-3 mb-3">
          <input
            type="date"
            class="form-control"
            id="from_date"
            v-model="from_date">
        </div>
        <label class="col-sm-1 col-form-label" for="to_date">По</label>
        <div class="col-sm-3 mb-3">
          <input
            type="date"
            class="form-control"
            id="to_date"
            v-model="to_date">
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Получить</button>
          <button type="button" class="btn btn-secondary m-progress" v-on:click="getResetedTable()">Сбросить</button>
        </div>
      </div>
    </form>
    &emsp;
    <h2>Доходы: ${ table.profits_total }</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Дата</th>
            <th scope="col">Значение - Описание</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>${ table.previous_total_sum } - Доход с предыдущего месяца</td>
          </tr>
          <tr v-for="profit in table.profits">
            <th scope="row">${ profit.date }</th>
            <td>
              <a v-for="transaction in profit.transactions" 
                 v-on:click="getTransaction(transaction.id)" 
                 href="#">${ transaction.value } - ${ transaction.description }<br></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>Расходы: ${ table.taxes_total }</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Дата</th>
            <th scope="col">Значение - Описание</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tax in table.taxes">
            <th scope="row">${ tax.date }</th>
            <td>
              <a v-for="transaction in tax.transactions" 
                 v-on:click="getTransaction(transaction.id)" 
                 href="#">${ transaction.value } - ${ transaction.description }<br></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>Траты: ${ table.buys_total }</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Дата</th>
            <th scope="col">Значение - Описание</th>
            <th scope="col">Бюджет на день</th>
            <th scope="col">Остаток</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="buy in table.buys">
            <th scope="row">${ buy.date }</th>
            <td>
              <a v-for="transaction in buy.transactions" 
                 v-on:click="getTransaction(transaction.id)" 
                 href="#">${ transaction.value } - ${ transaction.description }<br></a>
            </td>
            <td>${ buy.budget_for_day }</td>
            <td>${ buy.balance_for_day }</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Add Transaction Modal -->
    <div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Добавить запись</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form v-on:submit.prevent="addTransaction()">
            <div class="modal-body">
              <div class="form-group">
                <label for="transaction_date">Дата</label>
                <input
                  type="date"
                  class="form-control"
                  id="transaction_date"
                  placeholder="Введите дату"
                  v-model="newTransaction.date"
                  required="required">
              </div>
              <div class="form-group">
                <label for="transaction_description">Описание</label>
                <textarea
                  class="form-control"
                  id="transaction_description"
                  placeholder="Введите описание"
                  v-model="newTransaction.description"
                  required="required"
                  rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="transaction_value">Значение</label>
                <input
                  type="number"
                  step="0.01"
                  class="form-control"
                  id="transaction_value"
                  placeholder="Введите значение"
                  v-model="newTransaction.value"
                  required="required">
              </div>
              <div class="form-group">
                <label for="transaction_type">Тип записи</label>
                <select
                  class="form-control"
                  id="transaction_type"
                  placeholder="Введите тип"
                  v-model="newTransaction.transaction_type"
                  required="required">
                    <option value="P">Доход</option>
                    <option value="T">Расход</option>
                    <option value="B">Трата</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
          </form>
        </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
    <!-- End of add transaction modal -->

    <!-- Edit Transaction Modal -->
    <div class="modal fade" id="editTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Редактировать запись</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form v-on:submit.prevent="updateTransaction()">
            <div class="modal-body">
              <div class="form-group">
                <label for="transaction_date">Дата</label>
                <input
                  type="date"
                  class="form-control"
                  id="transaction_date"
                  placeholder="Введите дату"
                  v-model="currentTransaction.date"
                  required="required">
              </div>
              <div class="form-group">
                <label for="transaction_description">Описание</label>
                <textarea
                  class="form-control"
                  id="transaction_description"
                  placeholder="Введите описание"
                  v-model="currentTransaction.description"
                  required="required"
                  rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="transaction_value">Значение</label>
                <input
                  type="number"
                  step="0.01"
                  class="form-control"
                  id="transaction_value"
                  placeholder="Введите значение"
                  v-model="currentTransaction.value"
                  required="required">
              </div>
              <div class="form-group">
                <label for="transaction_type">Тип записи</label>
                <select
                  class="form-control"
                  id="transaction_type"
                  placeholder="Введите тип"
                  v-model="currentTransaction.transaction_type"
                  required="required">
                    <option value="P">Доход</option>
                    <option value="T">Расход</option>
                    <option value="B">Трата</option>
                </select>
               </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Закрыть</button>
              <button type="submit" class="btn btn-primary">Сохранить</button>
              <button class="btn btn-danger" v-on:click="deleteTransaction(currentTransaction.id)">Удалить</button>
            </div>
          </form>
        </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
    <!-- End of edit article modal -->
    <div class="loading" v-if="loading===true">Loading&#8230;</div>
  </div>
  {% else %}
  <h1>Необходимо войти под своей учётной записью</h1>
  {% endif %}
{% endblock %}

{% block trym_base_script %}
  {% if user.is_aunteficated %}
  <!-- vue.js files -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
  <script>Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";</script>
  <script src="{% static 'trym/api_vue.js' %}" crossorigin="anonymous"></script
  {% endif %}
{% endblock %}
