version: '3'

services:
  postgres:
    build:
      context: postgres
    volumes:
      - db_data:/var/lib/postgresql/data/
    restart: always
    ports:
      - 127.0.0.1:5432:5432

  django:
    build:
      context: ../
      dockerfile: docker/django/Dockerfile
    volumes:
      - ../src:/src
      - sock:/sock
    ports:
      - "8000:8000"
      - "8001:8001"
    depends_on:
      - postgres
    links:
      - postgres

  nginx:
    restart: always
    volumes:
      - ../src:/src
      - sock:/sock
    build:
      context: nginx
    depends_on: 
      - django
    ports:
      - "80:80"

volumes:
  db_data: {}
  src: {}
  sock: {}
